<html>
   <head>
      <title>            </title>
	  <link rel="stylesheet" type="text/css" href="style.css">
	  <meta charset="utf-8">
   </head>
	<body>
		<p>
			<img src="gslogo.png" height=200 />
			<br>
			<br>
			<div align="right"><a href="../logout">Logout</a></div>
			<div id=forms>
			<p><a href="../facultyHub"></p>
			<p>More lectures to come, please stick around</p>
			
			</div>
		</p>
	</body>
</html>