<!DOCTYPE html>

<!--
     Name:         		Brandon Cressley
     Project Phase 1: 	Class Attendance System
	 Purpose:	   		Create an application to record attendance of a class.
     URL:          		http://unixweb.kutztown.edu/~bcres539/index.php
     Course:       		CSC 242 - Fall 2015
     Due Date:     		April 20, 2016
-->

<!-- Fill in with correct id and database connection and such -->
<link rel="stylesheet" type="text/css" href="../style.css">

<div align="right"><a href="../logout">Logout</a></div>
<div align="right"><a href="../facultyHub">Faculty Home</a></div>

<form method="post">
	<select name="gName" id="gName">
			{{#each group}}
			<option value={{this.className}}> {{this.className}}</option>
			{{/each}}
	</select>
	<p><input type="submit" onclick = "showMessage()" value="Delete" />
</form>

<script>
			function showMessage(){
				//alert("Group has been deleted")
				alert(document.getElementById("gName").value)
			}
			
		</script>