<!DOCTYPE html>

<html>
   <head>
      <title>            </title>
	  <link rel="stylesheet" type="text/css" href="style.css">
	  <script type="text/javascript">
	  <!--
	  function login()
{
		var stuLogin = "Student Login";
		var stuLoginLink = stuLogin.link("../signinstu");
		var facLogin = "Faculty Login";
		var facLoginLink = facLogin.link("../signinfac");
		
		document.getElementById("loginSTU").innerHTML = stuLoginLink;
		document.getElementById("loginFAC").innerHTML = facLoginLink;
}
		function register()
{
	    var stuRegister = "Student Registration";
		var stuRegisterLink = stuRegister.link("../signupstu");
		var facRegister = "Faculty Registration";
		var facRegisterLink = facRegister.link("../signupfac");
		
        document.getElementById("registerSTU").innerHTML = stuRegisterLink;
		document.getElementById("registerFAC").innerHTML = facRegisterLink;
}	  
	  //-->
	  </script>
	  <meta charset="utf-8">
   </head>
	<body>
		<p>
			<img src="gslogo.png" height=200 />
			<br>
			<br>
			
			<div id=forms>
			<form style="float:left">
			<p><input type="button" onclick="login()" value="Login" /></p>
			<p id="loginSTU" class="button"></p>
			<p id="loginFAC"class="button"></p>
			</form>
			<form style="float:right">
			<p><input type="button" onclick="register()" value="Register" /></p>
			<p id="registerSTU" class="button"></p>
			<p id="registerFAC" class="button"></p>
			</form>
			</div>
		</p>
	</body>
</html>


