<html>
   <head>
      <title>            </title>
	  <link rel="stylesheet" type="text/css" href="style.css">
	  <meta charset="utf-8">
   </head>
	<body>
	<!-- Add run on load fuction here to get individual game types-->
		<!--Yo dumbbutt, to fix this just have the page run a function on load, this should allow you to create as many rows as needed.
		<p>
			<img src="gslogo.png" height=200 />
			<br>
			<br>
			<!--<h1>Select Game: </h1>-->
			<!--<p><input type="button" onclick="showFill()"value="Fill in the Blank"/></p>-->
			<form id="playFill" name="playFill" method="post" action="playFill">
				<div>
					{{#each fillblank}}
					<p>{{this.gameQuestion}}: <input type="text" name="gQ" id="gQ" size="40" value=""/>
					<input type="hidden" name="gA" id="gA" size="40" value={{this.gameAnswer}}/></p>
					<p><input type="button" onclick = "checkAnswers()" value="Check" /></p>
					{{/each}}
				</div>
			</form>
			<input type="button" onclick = "finishGame()" value="Finish Game" />
			<!-- Go to page indicated-->
			<!-- Create table for all games, only contains game names and respective types -->
			<!-- Enter button goes to respective run game page -->
		</p>
		<script>
		var i = 0;
			function addCount(){
				i++;
			}
			
			function showFill(){
				//window.location.href = '/createFill';
			}
		
			function checkAnswers(){
				alert(document.getElementById("gA").value);
				if(document.getElementById("gQ").value + "/" == document.getElementById("gA").value){
					alert("Answer Correct");
				}
				else{
					alert("Answer Incorrect. Try Again");
				}
				
			}
		
			function finishGame(){
				window.location.href = '/studentHub';
			}
			
		</script>
	</body>
</html>