<!DOCTYPE html>

<!--
     Name:         		Brandon Cressley
     Project Phase 1: 	Class Attendance System
	 Purpose:	   		Create an application to record attendance of a class.
     URL:          		http://unixweb.kutztown.edu/~bcres539/index.php
     Course:       		CSC 242 - Fall 2015
     Due Date:     		March 28, 2016
-->

<html>
   <head>
      <title>            </title>
	  <link rel="stylesheet" type="text/css" href="../style.css">
	  <meta charset="utf-8">
   </head>
	<body>
	<div align="right"><a href="../">Main Menu</a></div>
	<h1>Register for a Faculty Account</h1>
		<form id="resetPass" name="resetPass" method="post" action="/resetPass">
			<p> <label for="email">E-mail Address:<br /></label>
			<input type="text" name="email" id="email" size="40" value=""/>
			</p>
			<br />
			<p> <label for="password">New Password:<br /></label>
			<input type="password" name="password" id="password" size="40" value=""/>
			</p>
			
			<p>
			<input type="submit" value="Submit"/>
			<input type="reset" value="Clear"/>
			</p>
		</form>
		<script>
			function student(){
				alert("Function not currently avaliable")
			}
		</script>
	</body>
</html>


