<!DOCTYPE html>

<!--
     Name:         		Brandon Cressley
     Project Phase 1: 	Class Attendance System
	 Purpose:	   		Create an application to record attendance of a class.
     URL:          		http://unixweb.kutztown.edu/~bcres539/index.html
     Course:       		CSC 242 - Fall 2015
     Due Date:     		March 28, 2016
-->

<html>
   <head>
      <title>            </title>
	  <link rel="stylesheet" type="text/css" href="style.css">
	  <script type="text/javascript">
	  <!--
	  
	  //-->
	  </script>
	  <meta charset="utf-8">
   </head>
	<body>
		<p>
			<img src="gslogo.png" height=200 />
			<br>
			<br>
			<div align="right"><a href="../logout">Logout</a></div>
			<div id=forms>
			
			<p><a href="../createGame">Create a game</a></p>
			<p><a href="../playGame">Play game</a></p>
			<p><a href="../joinGroup">Join a group</a></p>
			<p><a href="../viewLectureStu">View Lectures</a></p>
			<p><a href="../viewProfile">View Profile</a></p>
			
			</div>
		</p>
	</body>
</html>


