<!DOCTYPE html>

<!--
     Name:         		Brandon Cressley
     Sprint 2 Demo: 	Display Summary
	 Purpose:	   		Display summary for current user.
     URL:          		http://unixweb.kutztown.edu/~bcres539/
     Course:       		CSC 355 - Fall 2018
     Due Date:     		November 13, 2018
-->

<html>
   <head>
      <title> "User Profile"  </title>
	  <link rel="stylesheet" type="text/css" href="../style.css">
	  <script type="text/javascript">
	  <!--
		
	   -->
	  </script>
	  <meta charset="utf-8">
   </head>
	<body>
	<div align="right"><a href="../logout">Logout</a></div>
	<div align="right"><a href="../studentHub">Student Home</a></div>
	<h1> User Profile Information </h1>
	<h2> Name: {{user.username}}</h2>
	<h2> Games Played: <!--{{user.score}}--></h2>
	<h2> Games Created: <!--{{user.gamesPlayed}}--></h2>
	<h2> Total Score: <!--{{user.gamesCreated}}--></h2>
		
	</body>
</html>